/* class -> .
id -> # */
.page-container{
  width : 80%;
  margin:auto;
  margin-top: 100px;  
  margin-bottom: 100px;
}

.front-page-container{
  width : 80%;
  margin:auto;
  margin-top: 100px;  
  margin-bottom: 100px;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Vertically center-align the children */
  align-items: center; /* Horizontally center-align the children */
}

.error{
    color: darkred;
    font-size: small;
  }
  
  #autocomplete {
      width: 640px; /* Set the desired width */
  
    }
  #destination {
      width: 640px; /* Set the desired width */
  
    }
  
h1 {
      font-size: 32px; /* Custom font size for .display-1 */
  }
  
h2 {
      font-size: 24px; /* Custom font size for .display-2 */
  }
  
h3{
      font-size: 16px; /* Custom font size for .display-3 */
  }
  
h4{
      font-size: 14px; /* Custom font size for .display-4 */
  }