<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${key} + '&loading=async&callback=initMap'">
    </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
    <title>Process Route</title>
</head>

<body>
    <div id="page-container">
        <div id="status" style="margin: 20px; font-size: 1.2em;">
            <img src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExbmxjOGoxMDh1bW1oODNub2ptOGd4Yndqbmdrd241aWI4dml4eHJiNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/WRQBXSCnEFJIuxktnw/giphy.webp"
                width="480" height="307"><br>
            <h2>Processing your request. Please wait...</h2>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        function initMap() {
            console.log("initMap is starting");
            const originLatLng = /*[[${oLatLng}]]*/ null;
            const destLatLng = /*[[${dLatLng}]]*/ null;
            console.log("Origin LatLng:", originLatLng, "Destination LatLng:", destLatLng);

            const directionsService = new google.maps.DirectionsService();

            // Display the route and send the result to the backend
            processRoute(originLatLng, destLatLng, directionsService);
        }

        function processRoute(origin, destination, service) {
            const prefFewerTransfer = /*[[${prefFewerTransfer}]]*/ false;
            const modeRailOnly = /*[[${modeRailOnly}]]*/ false;
            const modeBothBusAndRail = /*[[${modeBothBusAndRail}]]*/ false;
            const departureTime = /*[[${departureTime}]]*/ null;
            const arrivalTime = /*[[${arrivalTime}]]*/ null;
            const requestID = /*[[${keyid}]]*/ null;
            const username = /*[[${username}]]*/ null;

            let transitOptionsA = {
                modes: ['BUS'],
                routingPreference: 'LESS_WALKING'
            };

            if (prefFewerTransfer) {
                transitOptionsA.routingPreference = 'FEWER_TRANSFERS';
            }

            if (modeRailOnly) {
                transitOptionsA.modes = ['RAIL'];
            }

            if (modeBothBusAndRail) {
                transitOptionsA.modes = ['BUS', 'RAIL'];
            }

            if (departureTime != null) {
                transitOptionsA.departureTime = new Date(departureTime);
            }

            if (arrivalTime != null) {
                transitOptionsA.arrivalTime = new Date(arrivalTime);
            }

            //for timeout to retry again
            const timeout = setTimeout(() => {
            if (confirm("Google Directions Service timeout, please try again.")) {
                window.location.href = "/valid/" + username;
            }
        }, 12000); // 12 seconds timeout
            console.log("calling google directions service now")
            service
                .route({
                    origin: origin,
                    destination: destination,
                    travelMode: google.maps.TravelMode.TRANSIT,
                    unitSystem: google.maps.UnitSystem.METRIC,
                    region: 'sg',
                    transitOptions: transitOptionsA,
                })
                .then((result) => {
                    console.log('Route Result:', result);

                    fetch('/valid/processing/sendJsonResult', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'keyID': requestID
                        },
                        body: JSON.stringify(result) // Send the result object as JSON
                    })
                        .then(response => {
                            clearTimeout(timeout);
                            if (response.redirected) {
                                window.location.href = response.url; // Redirect to the URL
                            } else if (response.ok) {
                                return response.text(); // Process additional text response if needed
                            } else {
                                throw new Error('Failed to process the route.');
                            }
                        })
                        .then(data => {
                            console.log('Backend Response:', data);
                        })
                        .catch((error) => {
                            clearTimeout(timeout);
                            console.error('Error while sending result:', error);
                            alert('An error occurred while processing your request. Please check your start and end locations or route may contain private transport');
                            window.location.href = "/valid/"+username;
                        });
                })
                .catch((e) => {
                    clearTimeout(timeout);
                    alert("Could not display directions due to: " + e);

                    // Redirect to the index.html 
                    window.location.href = "/valid/"+username; // 
                });
        }

        window.initMap = initMap;
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

</body>

</html>